sudo: required
services:
  - docker

before_install:
  - docker build -t mbondarc/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true mbondarc/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-145976116029"
  bucket_path: "docker-react"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"